body{
    font-family: "Calibri Light";
    padding: 20px;
    width: 900px;
}

li{
    width: 500px;
}
ul2{
    width: 200px;
    float: bottom;
}
form ul{
    list-style-type: none;
    padding: 1px;
}
form ul li {
    padding: 20px;
}
form ul li input{
    width: 200px;
    position: absolute;
    left: 150px;
}

#omschrijving {
    width: 20%;
    padding: 10px;
}


select {
    width: 150px;
}



#buttoms{
    padding: 20px;
    padding-top: 500px;
    float: right;
    width: 300px;

}

#lekkereten{
    width: 300px;
    float: right;
}

#links{
    float: left;
}