body{
    font-family: "Calibri Light";
}
form ul{
    list-style-type: none;
    padding: 0;
}
form ul li {
    padding: 20px;
}
form ul li input{
    position: absolute;
    left: 150px;
}

#omschrijving {
    width: 20%;
    padding: 10px;
}


input {
    width: 150px;
}


select {
    width: 150px;
}

#lekkereten{
    display: block;
    float: top;
}

#buttoms{
    margin: 20px;
    padding: 20px;
    float: right;
}