body{
    padding: 20px;
    width: 100%;
    background-color: antiquewhite;
}
main{
    width: 90%;
}

.title{
    max-width: 400px;
}

.befotos{
    width: 600px;
    height: 400px;
    padding: 10px;/*binnen kant van element bijv. <div>*/
    float: left;
}
#section1{
    float: left;

}
.befotos2{
    width: 550px;
    height: 120px;
    padding: 10px;
    display: block;
    float: right;
}
#section2{
    display: block;
}
.articles{

}

footer{
    background-color: dimgrey;
}