body{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
main{
    width: 90%;
}

.title{
    max-width: 400px;
}

.befotos{
    width: 600px;
    height: 400px;
    padding: 10px;/*binnen kant van element bijv. <div>*/
    float: left;
}
#section1{
    float: left;
}
.befotos2{
    width: 550px;
    height: 120px;
    padding: 10px;
    display: block;
    float: right;
}

footer{
    background-color: dimgrey;
}

#blokje{
    height: 400px;
}
#tekst{
    width: 28%;
    height: 600px;
    float: left;
}
#tekst2{
    width: 28%;
    height: 600px;
    margin: auto;
}
#tekst3{
    width: 400px;
    height: 300px;
    margin: auto;
}

footer{
    float: bottom;
    color: white;
    background-color: darkgray;
}